.form-group {
    margin-bottom: 0px !important;
}



ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
}

ul.topnav li {float: left;}

ul.topnav li span {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	font-weight: bold;
}

ul.topnav li span:hover:not(.active) {background-color: gray; color: white;}

ul.topnav li span.active {background-color: #827d7b; color: white;}

ul.topnav li.right {float: right;}

@media screen and (max-width: 600px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
}



.listHeader{
	background-color: #f7f7f7;
    text-align: center;
    font-size: 16px;
    font-weight: bolder;
	padding: .875rem .5rem;
}
.listItem{
	border-bottom: 1px solid #e5e5e5;
    padding: 8px;
    font-size: 15px;
    font-weight: 700;
	background: #ffffff;
}
.listItem:hover{
	cursor: pointer;
	color: white;
	background-color: #aaacb5;
}






.gMapSearchStyle{
    z-index: 1;
    position: absolute;
    left: 10px;
    top: 45px;
	background-color: white;
    width: 270px;
    font-size: 15px;
    padding: 12px;
    color: black;
    border: transparent;
    font-weight: 500;
    outline: none;
    text-indent: 10px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2), 0 -1px 0px rgba(0,0,0,0.02);
}

.googleMapOverlay{
	animation: opac 0.8s;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
	cursor:pointer;
}