 <div [hidden]="showFilterScreen">
		<mat-tab-group #dynamicTabGroup (selectedTabChange)="onTabClick($event)">
			<mat-tab label="Details">
				<div style="padding:15px;">
					<form class="form-horizontal" style="width:95%;" autocomplete="off">
						<div class="form-group" *ngFor="let field of fields" [hidden]="!field.visible">
									<!--<label class="control-label col-sm-4" >{{field.field}}:</label>-->
									<div class="col-sm-12">
										<div *ngIf="editMode">
											<!--<input (keyup)="updateData($event,field)" *ngIf="field.field_type === 'input'" class="form-control" type="text" [value] = "field.value" (input) = "field.value = $event.target.value" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable" > 
											 <select (change)="updateData($event,field)" (focus)="onFieldFocus($event,field)" *ngIf="field.field_type === 'select'" class="form-control" [(ngModel)]="field.value" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable" >
												  <option *ngFor="let optn of field.option" [value]="optn.key">{{optn.value}}</option>
											</select>
											<input (keyup)="updateData($event,field)" *ngIf="field.field_type === 'checkbox'" class="form-control" type="checkbox" [(ngModel)] = "field.value" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable" > 
											<input (keyup)="updateData($event,field)" *ngIf="field.field_type === 'radio'" class="form-control" type="radio" [(ngModel)] = "field.value" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable" > 
											<input (keyup)="updateData($event,field)" *ngIf="field.field_type === 'radio'" class="form-control" type="radio" [(ngModel)] = "!field.value" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable" > 
										-->
											<mat-form-field style="width:100%;" *ngIf="field.field_type === 'input'">
												<input matInput type="text" placeholder="{{field.field}}" [(ngModel)]="field.value" (keyup)="updateData($event,field)" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable">
											</mat-form-field>
											<mat-form-field style="width:100%;" *ngIf="field.field_type === 'select'" >
												<mat-select placeholder="{{field.field}}" (change)="updateData($event,field)" (focus)="onFieldFocus($event,field)" [(ngModel)]="field.value" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable">
													<mat-option *ngFor="let optn of field.option" [value]="optn.key">{{optn.value}}</mat-option>
												</mat-select>
											</mat-form-field>
											<mat-checkbox (keyup)="updateData($event,field)" *ngIf="field.field_type === 'checkbox'" [(ngModel)]="field.value" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable" >{{field.field}}</mat-checkbox>
											
											<label *ngIf="field.field_type === 'radio'">{{field.field}}:</label>
											<mat-radio-group *ngIf="field.field_type === 'radio'" [(ngModel)] = "field.value" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable" >
												  <mat-radio-button value="X">Yes</mat-radio-button>
												  <mat-radio-button value="">No</mat-radio-button>
											</mat-radio-group>
									   </div>
									   <div style="padding-top: 8px;" *ngIf="!editMode">
											<mat-form-field style="width:100%;">
												<input matInput type="text" placeholder="{{field.field}}" [(ngModel)]="field.value" name="{{field.name}}" [disabled]=true>
											</mat-form-field>
											
									   </div>
								   </div>
						  </div>
					  </form>
				  </div>
			</mat-tab>
			<mat-tab label="Participants" *ngIf="!((item.user_id !== userDetail.user_id) || (item.bid_id === undefined) || (item.bid_id === null) || (item.bid_id === ''))">
				<div>
					<table>
						   <thead>
							   <th>Bid By</th>
							   <th>Previous Bid Price</th>
							   <th>Hike Amount</th>
							   <th>Current Bid Price</th>
							   <th>Bid Date & Time</th>
						   </thead>
						   <tr *ngFor="let item of bidBy">
							   <td><div style="padding: 1rem;">{{item.bid_by_user_id}}</div></td>
							   <td>{{item.bid_amount}}</td>
							   <td>{{item.bid_hike_by}}</td>
							   <td>{{item.current_bid_amount}}</td>
							   <td>{{item.createdAt}}</td>
						   </tr>
					</table>
				</div>
			</mat-tab>
			<mat-tab label="Specification">
				<div style="padding:15px;">
					<form class="form-horizontal" style="width:95%;" autocomplete="off">
						<div class="form-group" *ngFor="let field of fields" [hidden]="!field.visible">
									<!--<label class="control-label col-sm-4" >{{field.field}}:</label>-->
									<div class="col-sm-12">
										<div *ngIf="editMode">
											<!--<input (keyup)="updateData($event,field)" *ngIf="field.field_type === 'input'" class="form-control" type="text" [value] = "field.value" (input) = "field.value = $event.target.value" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable" > 
											 <select (change)="updateData($event,field)" (focus)="onFieldFocus($event,field)" *ngIf="field.field_type === 'select'" class="form-control" [(ngModel)]="field.value" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable" >
												  <option *ngFor="let optn of field.option" [value]="optn.key">{{optn.value}}</option>
											</select>
											<input (keyup)="updateData($event,field)" *ngIf="field.field_type === 'checkbox'" class="form-control" type="checkbox" [(ngModel)] = "field.value" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable" > 
											<input (keyup)="updateData($event,field)" *ngIf="field.field_type === 'radio'" class="form-control" type="radio" [(ngModel)] = "field.value" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable" > 
											<input (keyup)="updateData($event,field)" *ngIf="field.field_type === 'radio'" class="form-control" type="radio" [(ngModel)] = "!field.value" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable" > 
									   </div>
									   <div style="padding-top: 8px;" *ngIf="!editMode">
											{{field.value}}
									   </div>-->
											<mat-form-field style="width:100%;" *ngIf="field.field_type === 'input'">
												<input matInput type="text" placeholder="{{field.field}}" [(ngModel)]="field.value" (keyup)="updateData($event,field)" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable">
											</mat-form-field>
											<mat-form-field style="width:100%;" *ngIf="field.field_type === 'select'" >
												<mat-select placeholder="{{field.field}}" (change)="updateData($event,field)" (focus)="onFieldFocus($event,field)" [(ngModel)]="field.value" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable">
													<mat-option *ngFor="let optn of field.option" [value]="optn.key">{{optn.value}}</mat-option>
												</mat-select>
											</mat-form-field>
											<mat-checkbox (keyup)="updateData($event,field)" *ngIf="field.field_type === 'checkbox'" [(ngModel)]="field.value" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable" >{{field.field}}</mat-checkbox>
											
											<label *ngIf="field.field_type === 'radio'">{{field.field}}:</label>
											<mat-radio-group *ngIf="field.field_type === 'radio'" [(ngModel)] = "field.value" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable" >
												  <mat-radio-button value="X">Yes</mat-radio-button>
												  <mat-radio-button value="">No</mat-radio-button>
											</mat-radio-group>
									   </div>
									   <div style="padding-top: 8px;" *ngIf="!editMode">
											<mat-form-field style="width:100%;">
												<input matInput type="text" placeholder="{{field.field}}" [(ngModel)]="field.value" name="{{field.name}}" [disabled]=true>
											</mat-form-field>
											
									   </div>
								   </div>
						  </div>
					  </form>
				  </div>
			</mat-tab>
			<mat-tab label="Contact">
				<div style="padding:15px;">
					<form class="form-horizontal">
                       <div class="form-group">
                           <div class="col-sm-12">
								<mat-form-field style="width:100%;">
									<input matInput placeholder="Name" [(ngModel)]="contactDetail.name" name="name" [disabled]="true">
								</mat-form-field>
						   </div>
                       </div>
                       <div class="form-group">
                           <div class="col-sm-12">
								<mat-form-field style="width:100%;">
									<input matInput placeholder="Mobile" [(ngModel)]="contactDetail.mobile" name="mobile" [disabled]="true">
								</mat-form-field>
						   </div>
                      </div>
					  <div class="form-group">
						  <div class="col-sm-10">
								<mat-form-field style="width:100%;">
									<input matInput placeholder="Address" id="address" [(ngModel)]="contactDetail.address" name="address" [disabled]="true" required>
								</mat-form-field>
						   </div>
						   <div class="col-sm-2">
								<button mat-raised-button [disabled]="!editMode" (click)="onAddressChangeClick()">Change</button>
						   </div>
					</div>
					<div class="form-group">
							<div class="col-sm-12">
								<mat-form-field style="width:100%;">
									<input matInput placeholder="Pin Code" type="number" id="pin_code" [(ngModel)]="contactDetail.pin_code" name="pin_code" [disabled]="true">
								</mat-form-field>
						   </div>
					</div>
					<div class="form-group">
							<div class="col-sm-12">
								<mat-form-field style="width:100%;">
									<input matInput placeholder="Country" id="country" [(ngModel)]="contactDetail.country" name="country" [disabled]="true">
								</mat-form-field>
						   </div>
					</div>
					<div class="form-group">
							<div class="col-sm-12">
								<mat-form-field style="width:100%;">
									<input matInput placeholder="State" id="state" [(ngModel)]="contactDetail.state" name="state" [disabled]="true" >
								</mat-form-field>
						   </div>
					</div>
					<div class="form-group">
							<div class="col-sm-12">
								<mat-form-field style="width:100%;">
									<input matInput placeholder="City" id="city" [(ngModel)]="contactDetail.city" name="city" [disabled]="true" >
								</mat-form-field>
						   </div>
					</div>
					<div class="form-group">
						   <div class="col-sm-12">
								<mat-form-field style="width:100%;">
									<input matInput placeholder="Locality" id="locality" [(ngModel)]="contactDetail.locality" name="locality" [disabled]="true" >
								</mat-form-field>
						   </div>
					</div>
					<div class="form-group"> 
					  <label class="control-label col-sm-12" for="map_point"></label>
					  <div class="col-sm-12">
							<div id="googleMap_contact" style="width:100%;height:300px;"></div>
					  </div>
					</div>
                 </form>
					<!--<form class="form-horizontal" style="width:95%;">
						<div class="form-group" *ngFor="let field of fields" [hidden]="!field.visible">
								
								<div class="col-sm-12">
									<div *ngIf="editMode">
										
										<mat-form-field style="width:100%;" *ngIf="field.field_type === 'input'">
												<input matInput type="text" placeholder="{{field.field}}" [(ngModel)]="field.value" (keyup)="updateData($event,field)" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable">
											</mat-form-field>
											<mat-form-field style="width:100%;" *ngIf="field.field_type === 'select'" >
												<mat-select placeholder="{{field.field}}" (change)="updateData($event,field)" (focus)="onFieldFocus($event,field)" [(ngModel)]="field.value" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable">
													<mat-option *ngFor="let optn of field.option" [value]="optn.key">{{optn.value}}</mat-option>
												</mat-select>
											</mat-form-field>
											<mat-checkbox (keyup)="updateData($event,field)" *ngIf="field.field_type === 'checkbox'" [(ngModel)]="field.value" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable" >{{field.field}}</mat-checkbox>
											
											<label *ngIf="field.field_type === 'radio'">{{field.field}}:</label>
											<mat-radio-group *ngIf="field.field_type === 'radio'" [(ngModel)] = "field.value" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable" >
												  <mat-radio-button value="X">Yes</mat-radio-button>
												  <mat-radio-button value="">No</mat-radio-button>
											</mat-radio-group>
									   </div>
									   <div style="padding-top: 8px;" *ngIf="!editMode">
											<mat-form-field style="width:100%;">
												<input matInput type="text" placeholder="{{field.field}}" [(ngModel)]="field.value" name="{{field.name}}" [disabled]=true>
											</mat-form-field>
											
									   </div>
							   </div>
						  </div>
						  <div class="form-group"> 
							  <label class="control-label col-sm-12" for="map_point"></label>
							  <div class="col-sm-12">
									<div id="googleMap_contact" style="width:100%;height:300px;"></div>
									
							  </div>
						  </div>
					  </form>-->
				  </div>
			</mat-tab>
			
		</mat-tab-group>
		
		
 
 
		<!--
		<div class="navbar">
			<ul class="topnav" id="id_navbar">
			  <li><span id="detail" class="active" (click)="navSelect($event)">Detail</span></li>
			  <li><span id="spec" (click)="navSelect($event)">Specification</span></li>
			  <li><span id="contact" (click)="navSelect($event)">Contact</span></li>
			  <li [hidden]="(item.user_id !== userDetail.user_id) || (item.bid_id === undefined) || (item.bid_id === null) || (item.bid_id === '')" ><span id="participant" (click)="navSelect($event)">Participants</span></li>
			</ul>
		</div>
		
        <form class="form-horizontal" [hidden]="selectedCategory === 'participant'">
                <div class="form-group" *ngFor="let field of fields" [hidden]="!field.visible">
                        <label class="control-label col-sm-4" >{{field.field}}:</label>
                        <div class="col-sm-8">
							<div *ngIf="editMode">
								<input (keyup)="updateData($event,field)" *ngIf="field.field_type === 'input'" class="form-control" type="text" [value] = "field.value" (input) = "field.value = $event.target.value" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable" > 
								 <select (change)="updateData($event,field)" *ngIf="field.field_type === 'select'" class="form-control" [(ngModel)]="field.value" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable" >
									  <option *ngFor="let optn of field.option" [value]="optn.key">{{optn.value}}</option>
								</select>
								<input (keyup)="updateData($event,field)" *ngIf="field.field_type === 'checkbox'" class="form-control" type="checkbox" [(ngModel)] = "field.value" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable" > 
								<input (keyup)="updateData($event,field)" *ngIf="field.field_type === 'radio'" class="form-control" type="radio" [(ngModel)] = "field.value" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable" > 
								<input (keyup)="updateData($event,field)" *ngIf="field.field_type === 'radio'" class="form-control" type="radio" [(ngModel)] = "!field.value" name="{{field.name}}" required="{{field.field_required}}" [disabled]="!field.editable" > 
						   </div>
						   <div style="padding-top: 8px;" *ngIf="!editMode">
								{{field.value}}
						   </div>
					   </div>
               </div>
          </form>
		  
		  <div [hidden]="selectedCategory !== 'participant'">
			<table>
                   <thead>
                       <th>Bid By</th>
                       <th>Previous Bid Price</th>
                       <th>Hike Amount</th>
                       <th>Current Bid Price</th>
                       <th>Bid Date & Time</th>
                   </thead>
                   <tr *ngFor="let item of bidBy">
                       <td><div style="padding: 1rem;">{{item.bid_by_user_id}}</div></td>
                       <td>{{item.bid_amount}}</td>
                       <td>{{item.bid_hike_by}}</td>
                       <td>{{item.current_bid_amount}}</td>
                       <td>{{item.createdAt}}</td>
                   </tr>
            </table>
		  </div>-->
    </div>
	
	
	
	<!-- Field for Filter Screen only -->
	<div [hidden]="!showFilterScreen">		
        <form class="form-horizontal" >
                <div class="form-group" *ngFor="let field of fields" [hidden]="!field.visible">
                        <!--<label class="control-label col-sm-4" >{{field.field}}:</label>
                        <div class="col-sm-8">
							<div *ngIf="editMode">
								<button [disabled]="!field.editable" class="form-control" (click)="onFilterFieldClick($event,field)" title="field.value">{{field.value}}</button> 
						   </div>
						   <div style="padding-top: 8px;" *ngIf="!editMode">
								{{field.value}}
						   </div>
					   </div>-->
					<div class="col-sm-12"> 
					   <mat-form-field style="width:100%;" *ngIf="field.field_type === 'select' && showFilterScreen">
							  <mat-select placeholder="{{field.field}}" [(ngModel)]="field.value" name="{{field.name}}" [disabled]="!editMode || !field.editable" (focus)="onFieldFocus($event,field)" multiple>
								<mat-option *ngFor="let optn of field.option" [value]="optn.key">{{optn.value}}</mat-option>
							  </mat-select>
						</mat-form-field>
						
						<mat-form-field style="width:100%;" *ngIf="field.field_type === 'input'">
							<input matInput type="text" placeholder="{{field.field}}" [(ngModel)]="field.value" name="{{field.name}}" [disabled]="!editMode || !field.editable">
						</mat-form-field>
					</div>
               </div>
          </form>
    </div>
	
	<!--<app-dialog [(visible)]="showFilterFieldDialog">
		<div class="listHeader">Select {{selectedFilterField.field}}</div>
		<div>
			<div class="listItem" *ngFor="let itm of selectList">
				<input type="checkbox" [(ngModel)] = "itm.checked" name="{{itm.key}}"> {{itm.value}}
			</div>
		</div>
		<button style="width:100%;" class="btn btn-default" (click)="onFilterFieldValueSelect()">Ok</button>
	</app-dialog>-->
	
	
	<app-dialog [(visible)]="showDialog">
		<div [hidden]="!showAddressListDialog" style="padding: 40px;">
			<div class="listHeader">Select an address</div>
			<div>
			<div class="listItem" *ngFor="let add of address" (click)="onAddressSelect($event,add)">{{add.address}}, {{add.locality}}</div>
			</div>
		</div>
	<app-dialog>
	
	