<div style="width: 380px; height: 310px;">
	<div class="resultItemWrapper" style="cursor:pointer;" (click)="open($event,item)">
		<div class="resultItem">
			<div style="display: flex; justify-content: space-between; position: absolute; width: 96%;">
                <div style="display: flex;">
					<!--<div class="resultItemType">{{item.transactionTyp}}</div>-->
					<div *ngIf="item.transactionTyp === 'Sale'" title="Sale"><img src="assets/sale_icon.png"></div>
					<div *ngIf="item.transactionTyp === 'Buy'" title="Buy Request"><img src="assets/buy_icon.png"></div>
					<div *ngIf="item.transactionTyp === 'Bid'" title="Bid"><img src="assets/bid_icon.png"></div>
					<div *ngIf="item.transactionTyp === 'Service'" title="Service"><img src="assets/service_icon.png"></div>
					<div [hidden]="item.user_id === userDetail.user_id">
						<span (click)="onFavClick($event)" [hidden]="!(item.fav)" class="fav-icon" id="fav">&#9733;</span>
						<span (click)="onFavClick($event)" [hidden]="(item.fav)" class="nonfav-icon" id="not-fav">&#9734;</span>
					</div>
				</div>
				<div>
					<b *ngIf="(item.transactionTyp !== 'Bid' && item.transactionTyp !== 'Service')" style="color: #c41b34; font-size: 16px;"><span *ngIf="item.transactionTyp === 'Buy'" class="glyphicon glyphicon-menu-left"></span> <span class="rupeeRed"></span>{{item.display_amount ? item.display_amount : '0'}}</b>
					<b *ngIf="item.transactionTyp === 'Bid'" style="color: #c41b34; font-size: 16px;"><span class="rupeeRed"></span>{{item.display_amount ? item.display_amount : '0'}}</b>
					<b *ngIf="item.transactionTyp === 'Service'" style="color: #c41b34; font-size: 16px;"><span style="font-size:10px;">Starts From </span> <span class="rupeeRed"></span>{{item.display_amount ? item.display_amount : '0'}}</b>
				</div>
            </div>							  
			<img class="resultItemImage" src="{{item.data}}">
			<div class="resultItemDetailTop">				
				<div *ngIf="(item.transactionTyp !== 'Service')">
                      <b style="font-size: 18px;" >{{item.brand_name}} {{item.model}} {{item.variant}}</b>
                      <span style="font-size: 12px;">{{item.fuel_type ? item.fuel_type : ''}}</span>
                </div>
				<div *ngIf="(item.transactionTyp === 'Service')">
                      <b style="font-size: 18px;" >{{item.model}}</b>
                      <span style="font-size: 12px;">{{item.brand_name}} Service</span>
                </div>
                
			</div>
			<div class="resultItemDetailBottom" *ngIf="(item.transactionTyp !== 'Service')">
					<div style=" margin-right: 20px;"><span style="color:#c41b34;" class="glyphicon glyphicon-map-marker"></span> {{item.city ? item.city : '---'}}</div>
					<div style=" margin-right: 20px;"><span *ngIf="item.transactionTyp === 'Buy'" style="width: 10px;" class="glyphicon glyphicon-menu-right"></span> <span style="color:#c41b34;" class="glyphicon glyphicon-time"></span> {{item.year_of_reg ? item.year_of_reg : '0000'}}</div>
					<div style=" margin-right: 20px;"><span *ngIf="item.transactionTyp === 'Buy'" style="width: 10px;" class="glyphicon glyphicon-menu-left"></span> <span style="color:#c41b34;" class="glyphicon glyphicon-road"></span> {{item.km_done ? item.km_done : '0'}} KM</div>
					<div style=" margin-right: 20px;"><span style="color:#c41b34;" class="glyphicon glyphicon-camera"></span> {{item.number_of_image ? item.number_of_image : '0'}}</div>
					<div style="right: 15px; position: absolute;"><span style="color:#c41b34;" class="glyphicon glyphicon-calendar"></span> {{item.createdOn}}</div>
			</div>
			<div class="resultItemDetailBottom" *ngIf="item.transactionTyp === 'Service'">
					<div><span style="color:#c41b34;" class="glyphicon glyphicon-map-marker"></span> {{item.city ? item.city : '---'}}</div>
					<div style="display:flex;">
					  <div style="padding: 5px;"><div style="background-color: #c41b34;  width: 35px;  border-radius: 4px;  color: white; height: 18px;  line-height: 18px; text-align: center;">{{item.rating ? item.rating : '0'}} <span>&#9733;</span></div> </div>
					  <div style="">{{item.no_of_rating ? item.no_of_rating : '0'}} Rating, {{item.no_of_feedback ? item.no_of_feedback : '0'}} Feedback</div>
					</div>
					<div style="right: 15px; position: absolute;"><span style="color:#c41b34;" class="glyphicon glyphicon-calendar"></span> {{item.createdOn}}</div>
			</div>
		</div>
	</div>
</div>
