.resultItem{
	line-height: 30px; width: 338px; padding: 5px;
}
.resultItemWrapper{
	border: 1px solid gray; width: 350px; height:290px; position: relative;
}
.resultItemWrapper:active{
	border: 4px solid #ccd8ff;
}
.resultItemType{
	font-size: 12px; font-weight: bolder; color: white; background-color: red;  border-radius: 20px; width: 60px; line-height: 30px; text-align: center;
}
.resultItemImage{
	width: 338px; height: 200px;
}
.resultItemDetailTop{
	display: flex; flex-direction: row; width: 338px; justify-content: space-between;
}
.resultItemDetailBottom{
	display: flex; flex-direction: row; width: 338px; font-size: 12px;
}

.fav-icon{
	font-size:30px; color:#FDB400;
}
.nonfav-icon{
	font-size:30px; color:gray;
}