




<div id="mySidenavAdmin" class="sidenav">
	<div style="height:50px; background-color:#e1e3e8; position: sticky;"></div>
  <!--<a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>-->
  <div style="overflow-x: auto; height:100%;">
  <button id="role_admin" class="btn btn-link" style="width:100%; padding:10px; text-align:left; text-indent:30px;" (click)="onNav($event)">Roles</button>
  <button id="app_admin" class="btn btn-link" style="width:100%; padding:10px; text-align:left; text-indent:30px;" (click)="onNav($event)">Applications</button>
  <button id="screen_admin" class="btn btn-link" style="width:100%; padding:10px; text-align:left; text-indent:30px;" (click)="onNav($event)">Screens</button>
  <button id="field_admin" class="btn btn-link" style="width:100%; padding:10px; text-align:left; text-indent:30px;" (click)="onNav($event)">Fields</button>
  <button id="subscription_admin" class="btn btn-link" style="width:100%; padding:10px; text-align:left; text-indent:30px;" (click)="onNav($event)">Subscriptions</button>
  <!--<a id="screenRight_admin" (click)="onNav($event)">Screen Mapping</a>
  <a id="fieldRight_admin" (click)="onNav($event)">Field Mapping</a>-->
  <button id="prodTyp_admin" class="btn btn-link" style="width:100%; padding:10px; text-align:left; text-indent:30px;" (click)="onNav($event)">Product Types</button>
  <button id="prod_admin" class="btn btn-link" style="width:100%; padding:10px; text-align:left; text-indent:30px;" (click)="onNav($event)">Products</button>
  <button id="productHierarchy_admin" class="btn btn-link" style="width:100%; padding:10px; text-align:left; text-indent:30px;" (click)="onNav($event)">Products Hierarchy</button>
  <button id="brand_admin" class="btn btn-link" style="width:100%; padding:10px; text-align:left; text-indent:30px;" (click)="onNav($event)">Brands</button>
  <button id="specField_admin" class="btn btn-link" style="width:100%; padding:10px; text-align:left; text-indent:30px;" (click)="onNav($event)">Specification Fields</button>
  <!--<button id="prdTypSpecField_admin" class="btn btn-link" style="width:100%; padding:10px; text-align:left; text-indent:30px;" (click)="onNav($event)">Product Type & Specification Field Mapping</button>--> 
  <button id="loc_admin" class="btn btn-link" style="width:100%; padding:10px; text-align:left; text-indent:30px;" (click)="onNav($event)">Location</button>
  <button id="config_admin" class="btn btn-link" style="width:100%; padding:10px; text-align:left; text-indent:30px;" (click)="onNav($event)">Parameters</button>
  </div>
</div>

<!--<div class="overlayStyle" (click)="closeNav()" id="myOverlayAdmin"></div>-->



<div style="margin-left:250px;">
<div class="headerStyle sticky">
	<div style="display:flex; justify-content:space-between;">
		
		<div style="width:100%; display:flex; justify-content:center;">
			<!--<button class="nav_menu" (click)="openNav()">
				<span class="menu_icon"></span>
			</button>-->
			<b style="font-size: 22px; padding: 9px">{{title}}</b>
		</div>
		
		<div style="width:140px; display:flex;">			
			<div class="dropdown">		
			  <button class="dropbtn">
				<span class="user_icon"></span>
			  </button>
			  <div class="dropdown-content">
				<a>User: {{userProfile.user_id}}</a>
				<a>{{userProfile.name}}</a>
				<button style="width: 100%;" mat-raised-button color="primary" (click)="logout()"><span class="glyphicon glyphicon-off"></span> Sign Out</button>
			  </div>
			</div>
		</div>
	</div>

</div>


<router-outlet ></router-outlet>
</div>