<div class="container">
	
    <div class="detail_form">
        <div class="padding">
			<label>Product tree structure.</label>
			<i class="glyphicon glyphicon-plus-sign" (click)="addFirstLevelNode($event)"></i>
			<ul>
				<li *ngFor="let data of prd_h" >
					<ng-container *ngTemplateOutlet="estimateTemplate;context:{ $implicit: data }">
					</ng-container>
				</li>
			</ul>
        </div>
    </div>
</div>


<ng-template #estimateTemplate let-data>
    {{data.product_type_name}}
    <i class="glyphicon glyphicon-plus-sign" (click)="addNode(data)"></i>
    <i class="glyphicon glyphicon-minus-sign" (click)="deleteNode(data)" ></i>
    <ul>
        <li *ngFor="let data of data.nodes">
             <ng-container *ngTemplateOutlet="estimateTemplate;context:{ $implicit: data }">
             </ng-container>
        </li>
    </ul>
</ng-template>



<app-dialog [(visible)]="showDialog">
  <div >
		<h3 class="page_title">Select a Product Type</h3>
		<div class="detail_form">
			<div class="padding">
				<label>Type Product Type ID or Name below to search.</label>
				<input class="form-control" style="width: 100%;" type="text" [(ngModel)]="term" placeholder="Search..">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Product Type ID</th>
							<th>Product Type Name</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor='let productType of productTypes | filter : {product_type_id:term, product_type_name:term}' [hidden]="productType.deleted" (click)="onPrdTypSelect($event,productType)">
							<td>{{productType.product_type_id}}</td>
							<td>{{productType.product_type_name}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
		<div class="footer"></div>
	</div>
</app-dialog>