<mat-tab-group #roleTabGroup (selectedTabChange)="onTabClick($event)">
			<mat-tab label="Details">
					<div [hidden]="hidden.view" class="container">	
						<div class="detail_form">
							<div class="padding">
								<label>Type Role ID or Name below to search.</label>
								<input class="form-control" style="width: 100%;" type="text" [(ngModel)]="term" placeholder="Search..">
								<table>
									<thead>
										<tr>
											<th></th>
											<th></th>
											<th>Role ID</th>
											<th>Role Name</th>						
										</tr>
									</thead>
									<tbody>
										<tr *ngFor='let role of roles | filter : {role_id:term, role_name:term}' >
											<td><i class="glyphicon glyphicon-remove" (click)="onDelete($event,role)"></i></td>
											<td><i class="glyphicon glyphicon-pencil" (click)="onEdit($event,role)"></i></td>
											<td><button class="btn btn-link" (click)="onRoleClick($event,role)">{{role.role_id}}</button></td>
											<td>{{role.role_name}}</td>						
										</tr>
									</tbody>
								</table>			
							</div>
						</div>
					</div>

					<!-- -->
					<div [hidden]="hidden.add" class="container">
						<div class="detail_form">
							<div class="padding">		
								<form class="form-horizontal" autocomplete="off">
									<div class="form-group">
										<div class="form-inline">
											<label class="control-label col-sm-2" for="role_id">ID:</label>
											<div class="col-sm-10">
												<input style="width: 100%;" [disabled]="disabled.role_id" type="text" class="form-control" id="role_id" placeholder="Enter Role ID" [value] = "newItem.role_id" (input) = "newItem.role_id = $event.target.value">
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="form-inline">
											<label class="control-label col-sm-2" for="role_name">Name:</label>
											<div class="col-sm-10">
												<input style="width: 100%;" [disabled]="disabled.role_name" type="text" class="form-control" id="role_name" placeholder="Enter Role Name" [value] = "newItem.role_name" (input) = "newItem.role_name = $event.target.value">
											</div>
										</div>
									</div>
								</form>
								
							</div>
						</div>
					</div>
					
					<!--footer-->
					<div style="padding: 10px;"></div>
					<div class="footerStyleAdmin">
						<div class="row" style="padding: 5px;">
							<div class="col-sm-6">
								   <button type="submit" class="btn btn-default" (click)="onAddCancel($event)" [hidden]="hidden.add">
										<span class="glyphicon glyphicon-remove"></span> Cancel
									</button>							
							</div>
							<div class="col-sm-6" style="display:flex; justify-content:flex-end;">
									<button type="submit" class="btn btn-default" (click)="onAddClick($event)" [hidden]="hidden.view">
										<span class="glyphicon glyphicon-plus"></span> Add
									</button>
									<button type="submit" class="btn btn-default" (click)="onSave($event)" [hidden]="disabled.role_name || hidden.add">
										<span class="glyphicon glyphicon-floppy-disk"></span> Save
									</button>
							 </div>
						</div>
					</div>
		</mat-tab>
		<mat-tab label="Screen Mapping">
			<screen-mapping></screen-mapping>
		</mat-tab>
		<mat-tab label="Field Mapping">
			<field-mapping></field-mapping>
		</mat-tab>
</mat-tab-group>



