<div [hidden]="hidden.view" class="container">
	
    <div class="detail_form">
        <div class="padding">
			<label>Select Role</label>
			<select class="form-control" style="width: 100%;" (change)="onRoleChange($event.target.value)">
				<option *ngFor='let role of roles' value="{{role.role_id}}">{{role.role_name}}</option> 
			</select>
			<label>Select Application</label>
			<select class="form-control" style="width: 100%;" (change)="onAppChange($event.target.value)">
				<option *ngFor='let application of applications' value="{{application.app_id}}">{{application.app_name}}</option> 
			</select>
			<label>Switch ON the screens and operations applicable for the selected application</label>
            <table>
				<thead>
					<tr>
						<th></th>
						<th>Screen</th>
						<th>Applicable</th>
						<th>Create Operation</th>
						<th>Edit Operation</th>
						<th>Delete Operation</th>
						<th>For Navigation</th>
						<th>Up</th>
						<th>Down</th>						
					</tr>
				</thead>
				<tbody>
					<tr *ngFor='let screen of screen_right; let indx = index' [hidden]="screen.deleted">
						<td>
							<i class="glyphicon glyphicon-remove" (click)="onDelete($event,screen)" [hidden]="!screen.applicable || !screen.editMode"></i>
							<i class="glyphicon glyphicon-pencil" (click)="onEditScreen($event,screen)" [hidden]="screen.editMode"></i>
						</td>
						<td><div style="padding:0.7rem;">{{screen.screen}}</div></td>
						<td><input type="checkbox" [(ngModel)]="screen.applicable"  [value]=true [disabled]="!screen.editMode"></td>
						<td><input type="checkbox" [(ngModel)]="screen.create"  [value]=true [disabled]="!screen.editMode" [hidden]="!screen.applicable"></td>
						<td><input type="checkbox" [(ngModel)]="screen.edit"  [value]=true [disabled]="!screen.editMode" [hidden]="!screen.applicable"></td>
						<td><input type="checkbox" [(ngModel)]="screen.delete"  [value]=true [disabled]="!screen.editMode" [hidden]="!screen.applicable"></td>
						<td><input type="checkbox" [(ngModel)]="screen.screen_for_nav"  [value]=true [disabled]="!screen.editMode" [hidden]="!screen.applicable"></td>
						<td><button [disabled]="!screen.editMode" style="font-size: 20px;" class="btn btn-link" (click)="moveUp($event,screen,indx)" [hidden]="!screen.applicable">&#9650;</button></td>
						<td><button [disabled]="!screen.editMode" style="font-size: 20px;" class="btn btn-link" (click)="moveDown($event,screen,indx)" [hidden]="!screen.applicable">&#9660;</button></td>						
					</tr>
				</tbody>
			</table>
			<!--<button type="submit" class="btn btn-default" (click)="onAddScreen($event)">
                <span class="glyphicon glyphicon-plus"></span> Add
            </button>-->
            
        </div>
    </div>
</div>


<!-- -->

<div [hidden]="hidden.add" class="container">
    <div class="detail_form">
        <div class="padding">		
            <form class="form-horizontal" autocomplete="off">
				<div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-sm-2">Role:</label>
                        <div class="col-sm-10">
                            <select class="form-control" style="width: 100%;" name="role" [(ngModel)]="newItem.role_id">
								<option *ngFor='let role of roles' [value]="role.role_id">{{role.role_name}}</option> 
							</select>
                        </div>
                    </div>
                </div>
				<div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-sm-2">Application:</label>
                        <div class="col-sm-10">
                            <select class="form-control" style="width: 100%;" name="application" [(ngModel)]="newItem.app_id">
								<option *ngFor='let application of applications' [value]="application.app_id">{{application.app_name}}</option> 
							</select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-sm-2">Screen:</label>
                        <div class="col-sm-10">
                            <select class="form-control" style="width: 100%;" name="screen" [(ngModel)]="newItem.screen">
								<option *ngFor='let screen of screens' [value]="screen.screen">{{screen.screen}}</option> 
							</select>
                        </div>
                    </div>
                </div>
				<div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-sm-2">For Navigation List:</label>
                        <div class="col-sm-10">
                            <input style="width: 100%;" type="checkbox" class="form-control" name="screen_for_nav" [(ngModel)]="newItem.screen_for_nav"  >
                        </div>
                    </div>
                </div>
				<div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-sm-2">Applicable:</label>
                        <div class="col-sm-10">
                            <input style="width: 100%;" type="checkbox" class="form-control" name="applicable" [(ngModel)]="newItem.applicable"  >
                        </div>
                    </div>
                </div>
				<div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-sm-2">Create Operation:</label>
                        <div class="col-sm-10">
                            <input style="width: 100%;" type="checkbox" class="form-control" name="create" [(ngModel)]="newItem.create"  >
                        </div>
                    </div>
                </div>
				<div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-sm-2">Edit Operation:</label>
                        <div class="col-sm-10">
                            <input style="width: 100%;" type="checkbox" class="form-control" name="edit" [(ngModel)]="newItem.edit"  >
                        </div>
                    </div>
                </div>
				<div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-sm-2">Delete Operation:</label>
                        <div class="col-sm-10">
                            <input style="width: 100%;" type="checkbox" class="form-control" name="delete" [(ngModel)]="newItem.delete"  >
                        </div>
                    </div>
                </div>
			</form>
			<button type="submit" class="btn btn-default" (click)="onAddCancel($event)">
                <span class="glyphicon glyphicon-remove"></span> Cancel
            </button>
            <button type="submit" class="btn btn-default" (click)="onAddSave($event)">
                <span class="glyphicon glyphicon-floppy-disk"></span> Save
            </button>
        </div>
    </div>
</div>



<!--footer-->
<div style="padding: 10px;"></div>
<div class="footerStyleAdmin">
				<div class="row" style="padding: 5px;">
					<div class="col-sm-6">
						   <button type="submit" class="btn btn-default" (click)="onEditCancel($event)" [hidden]="!editMode">
								<span class="glyphicon glyphicon-pencil"></span> Cancel
							</button>
					</div>
					<div class="col-sm-6" style="display:flex; justify-content:flex-end;">
							<!--<button type="submit" class="btn btn-default" (click)="onEditScreen($event)" [hidden]="editMode">
								<span class="glyphicon glyphicon-pencil"></span> Edit
							</button>-->							
							<button type="submit" class="btn btn-default" (click)="onSaveChanges($event)" [hidden]="!editMode">
								<span class="glyphicon glyphicon-floppy-disk"></span> Save
							</button>
							<button type="submit" class="btn btn-default" (click)="onSelectAll($event)" >
								<span class="glyphicon glyphicon-ok"></span> Select All
							</button>
					 </div>
			   </div>
</div>


