<div [hidden]="hidden.view" class="container">
	
    <div class="detail_form">
        <div class="padding">
			<label>Type Subscription ID or Name below to search.</label>
			<input class="form-control" style="width: 100%;" type="text" [(ngModel)]="term" placeholder="Search..">
            <table>
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th>Subscription ID</th>
						<th>Application Name</th>
						<th>Subscription Name</th>
						<th>Role</th>
						<th>Validity Unit</th>
						<th>Validity Period</th>
						<th>Amount</th>
						<!--<th>No. of Posts Allowed</th>
						<th>Posts Life in Days</th>
						<th>Posts Priority</th>
						<th>Notification via SMS</th>
						<th>Notification via Email</th>
						<th>Notification via App</th>-->
					</tr>
				</thead>
				<tbody>
					<tr *ngFor='let subscription of subscriptions | filter : {subscription_id:term, subscription_name:term}'>
						<td><i class="glyphicon glyphicon-remove" (click)="onDelete($event,subscription)"></i></td>
						<td><i class="glyphicon glyphicon-pencil" (click)="onEdit($event,subscription)"></i></td>
						<td><button class="btn btn-link" (click)="onSubscriptionClick($event,subscription)">{{subscription.subscription_id}}</button></td>
						<td>{{subscription.app_name}}</td>
						<td>{{subscription.subscription_name}}</td>
						<td>{{subscription.role_id}}</td>
						<td>{{subscription.validity_unit}}</td>
						<td>{{subscription.validity_period}}</td>
						<td>{{subscription.amount}} {{subscription.currency}}</td>
						<!--<td>{{subscription.post_allowed}}</td>
						<td>{{subscription.post_day}}</td>
						<td>{{subscription.post_priority}}</td>
						<td>{{subscription.notification_sms}}</td>
						<td>{{subscription.notification_email}}</td>
						<td>{{subscription.notification_app}}</td>-->
					</tr>
				</tbody>
			</table>
			
        </div>
    </div>
</div>


<!-- -->

<div [hidden]="hidden.add" class="container">
    <div class="detail_form">
        <div class="padding">		
            <form class="form-horizontal" autocomplete="off">
                <div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-sm-2" for="subscription_id">Subscription ID:</label>
                        <div class="col-sm-10">
                            <input style="width: 100%;" [disabled]="disabled.subscription_id" type="text" class="form-control" id="subscription_id" placeholder="Enter Subscription ID" [value] = "newItem.subscription_id" (input) = "newItem.subscription_id = $event.target.value">
                        </div>
                    </div>
                </div>
				<div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-sm-2" for="subscription_name">Subscription Name:</label>
                        <div class="col-sm-10">
                            <input style="width: 100%;" [disabled]="disabled.subscription_name" type="text" class="form-control" id="subscription_name" placeholder="Enter Subscription Name" [value] = "newItem.subscription_name" (input) = "newItem.subscription_name = $event.target.value">
                        </div>
                    </div>
                </div>
				<div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-sm-2" for="subscription_name">Role:</label>
                        <div class="col-sm-10">
							<select [disabled]="disabled.subscription_name" class="form-control" style="width: 100%;" name="role" [(ngModel)]="newItem.role_id">
								<option *ngFor='let role of roles' [value]="role.role_id">{{role.role_name}}</option> 
							</select>                            
                        </div>
                    </div>
                </div>
				<div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-sm-2" for="subscription_name">Application Name:</label>
                        <div class="col-sm-10">
							<select [disabled]="disabled.subscription_name" class="form-control" style="width: 100%;" name="application" [(ngModel)]="newItem.app_name">
								<option *ngFor='let application of applications' [value]="application.app_name">{{application.app_name}}</option> 
							</select>                            
                        </div>
                    </div>
                </div>
				<div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-sm-2" for="validity_unit">Validity Unit:</label>
                        <div class="col-sm-10">
							<select [disabled]="disabled.subscription_name" class="form-control" style="width: 100%;" name="validityUnit" [(ngModel)]="newItem.validity_unit">
								<option *ngFor='let validityUnit of validityUnits' [value]="validityUnit.unit">{{validityUnit.unit}}</option> 
							</select>
                        </div>
                    </div>
                </div>
				<div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-sm-2" for="validity_period">Validity Period:</label>
                        <div class="col-sm-10">
                            <input style="width: 100%;" [disabled]="disabled.subscription_name" type="text" class="form-control" id="validity_period" placeholder="Enter Validity Period" [value] = "newItem.validity_period" (input) = "newItem.validity_period = $event.target.value">
                        </div>
                    </div>
                </div>
				<div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-sm-2" for="amount">Amount:</label>
                        <div class="col-sm-10">
                            <input [disabled]="disabled.subscription_name" type="text" class="form-control" id="amount" placeholder="Enter Amount" [value] = "newItem.amount" (input) = "newItem.amount = $event.target.value">
							<select style="width: 150px;" [disabled]="disabled.subscription_name" class="form-control" name="currency" [(ngModel)]="newItem.currency">
								<option *ngFor='let currency of currencies' [value]="currency.name">{{currency.name}}</option> 
							</select> 
					   </div>
                    </div>
                </div>
				<div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-sm-2" for="post_allowed">No. of posts allowed:</label>
                        <div class="col-sm-10">
                            <input style="width: 100%;" [disabled]="disabled.subscription_name" type="text" class="form-control" id="post_allowed" placeholder="Enter number of posts allowed" [value] = "newItem.post_allowed" (input) = "newItem.post_allowed = $event.target.value">
                        </div>
                    </div>
                </div>
				<div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-sm-2" for="post_day">Posts life in days:</label>
                        <div class="col-sm-10">
                            <input style="width: 100%;" [disabled]="disabled.subscription_name" type="text" class="form-control" id="post_day" placeholder="Enter posts life in days" [value] = "newItem.post_day" (input) = "newItem.post_day = $event.target.value">
                        </div>
                    </div>
                </div>
				<div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-sm-2" for="post_priority">Posts Priority:</label>
                        <div class="col-sm-10">
                            <input style="width: 100%;" [disabled]="disabled.subscription_name" type="text" class="form-control" id="post_priority" placeholder="Enter posts priority" [value] = "newItem.post_priority" (input) = "newItem.post_priority = $event.target.value">
                        </div>
                    </div>
                </div>
				<div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-sm-2" for="notification_sms">Notification via SMS:</label>
                        <div class="col-sm-10">
                            <input style="width: 100%;" [disabled]="disabled.subscription_name" type="checkbox" class="form-control" id="notification_sms" (click)="onCheckBoxClick($event,'notification_sms')" [checked] = "newItem.notification_sms == 'X'" name="notification_sms">
                        </div>
                    </div>
                </div>
				<div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-sm-2" for="notification_email">Notification via Email:</label>
                        <div class="col-sm-10">
                            <input style="width: 100%;" [disabled]="disabled.subscription_name" type="checkbox" class="form-control" id="notification_email" (click)="onCheckBoxClick($event,'notification_email')" [checked] = "newItem.notification_email == 'X'" name="notification_email">
                        </div>
                    </div>
                </div>
				<div class="form-group">
                    <div class="form-inline">
                        <label class="control-label col-sm-2" for="notification_app">Notification via App:</label>
                        <div class="col-sm-10">
                            <input style="width: 100%;" [disabled]="disabled.subscription_name" type="checkbox" class="form-control" id="notification_app" (click)="onCheckBoxClick($event,'notification_app')" [checked] = "newItem.notification_app == 'X'" name="notification_app">
                        </div>
                    </div>
                </div>
				
			</form>
			
        </div>
    </div>
</div>



<!--footer-->
<div style="padding: 10px;"></div>
<div class="footerStyleAdmin">
				<div class="row" style="padding: 5px;">
					<div class="col-sm-6">
						   <button type="submit" class="btn btn-default" (click)="onAddCancel($event)" [hidden]="hidden.add">
								<span class="glyphicon glyphicon-remove"></span> Cancel
							</button>							
					</div>
					<div class="col-sm-6" style="display:flex; justify-content:flex-end;">
							<button type="submit" class="btn btn-default" (click)="onAddClick($event)" [hidden]="hidden.view">
								<span class="glyphicon glyphicon-plus"></span> Add
							</button>
							<button type="submit" class="btn btn-default" (click)="onSave($event)" [hidden]="disabled.subscription_name || hidden.add">
								<span class="glyphicon glyphicon-floppy-disk"></span> Save
							</button>
					 </div>
			   </div>
</div>

