<div class="container">
      <div class="padding">
            <form class="form-horizontal">
                <div class="form-group">
                    <div class="form-inline">
                        <!--<label class="control-label col-sm-2" for="full_name">Name:</label>
                        <div class="col-sm-10">
                            <input style="width: 100%;" type="text" [disabled]="disabledMode" [value] = "userDetail.name" (input) = "userDetail.name = $event.target.value" class="form-control" id="full_name" placeholder="Enter Full Name">
                        </div>-->
						
						<div class="col-sm-12">
							<mat-form-field style="width: 100%;">
								<input matInput placeholder="Name" type="text" [disabled]="disabledMode" [(ngModel)] = "userDetail.name" name="name">
							</mat-form-field>
						</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <!--<label class="control-label col-sm-2" for="mobile">Mobile#:</label>
                        <div class="col-sm-10">
                            <input style="width: 100%;" type="text" [disabled]="disabledMode" maxlength="10" [value] = "userDetail.mobile" (input) = "userDetail.mobile = $event.target.value" class="form-control" id="mobile" placeholder="Enter Mobile Number" (keyup)="onMobileEnter($event)">
                        </div>-->
						
						<div class="col-sm-12">
							<mat-form-field style="width: 100%;">
								<input matInput placeholder="Mobile#" type="text" [disabled]="disabledMode" maxlength="10" [(ngModel)] = "userDetail.mobile" name="mobile" (keyup)="onMobileEnter($event)" >
							</mat-form-field>
						</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <!--<label class="control-label col-sm-2" for="email">Email ID:</label>
                        <div class="col-sm-10">
                            <input style="width: 100%;" type="email" [disabled]="disabledMode" [value] = "userDetail.email" (input) = "userDetail.email = $event.target.value" class="form-control" id="email" placeholder="Enter email">
                        </div>-->
						
						<div class="col-sm-12">
							<mat-form-field style="width: 100%;">
								<input matInput placeholder="Email ID" type="email" [disabled]="disabledMode" [(ngModel)] = "userDetail.email" name="email">
							</mat-form-field>
						</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <!--<label class="control-label col-sm-2" for="password"><span class="glyphicon glyphicon-info-sign" (click)="passwordInfo($event)"></span> Password:</label>
                        <div class="col-sm-10">
                            <input style="width: 80%;" type="password" [disabled]=true [value] = "userDetail.login_password" (input) = "userDetail.login_password = $event.target.value" class="form-control" id="password" placeholder="Enter Password">
							<button type="submit" [disabled]="disabledMode" class="form-control btn btn-default" (click)="onPasswordChangeClick()"> Change</button>
						</div>-->
						
						<div class="col-sm-12">
							<span class="glyphicon glyphicon-info-sign" (click)="passwordInfo($event)"></span>
							<mat-form-field style="width: 80%;">
								<input matInput placeholder="Password" type="password" [disabled]=true [(ngModel)] = "userDetail.password" name="password">
							</mat-form-field>
							<button mat-raised-button [disabled]="disabledMode" (click)="onPasswordChangeClick()">Change</button>
						</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <!--<label class="control-label col-sm-2" for="gender">Gender:</label>                                                         
                        <div class="col-sm-10">
								<div style="justify-content: space-around;" class="form-inline">
									<label style="justify-content: flex-start;" ><input type="radio" [disabled]="disabledMode" [value]=true [(ngModel)]="male" name="gender"> Male</label>
									<label style="justify-content: flex-start;" ><input type="radio" [disabled]="disabledMode" [value]=false [(ngModel)]="male" name="gender"> Female</label>
								</div>
                        </div>-->
						
						<div class="col-sm-12">
							<mat-radio-group style="width: 80%;" [(ngModel)]="male" name="gender">
							  <mat-radio-button [value]=true [disabled]="disabledMode">Male</mat-radio-button>
							  <mat-radio-button [value]=false [disabled]="disabledMode">Female</mat-radio-button>
							</mat-radio-group>
						</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <!--<label class="control-label col-sm-2" for="mobile">Currency:</label>
                        <div class="col-sm-10">                                                                                                
                            <select style="width: 100%;" [disabled]="disabledMode" class="form-control" name="currency" [(ngModel)]="userDetail.currency">
                                <option *ngFor='let currency of currencies' [value]="currency.name">{{currency.name}}</option>                                                                                                                 
                            </select>                                                                                         
                        </div>-->
						
						<div class="col-sm-12"> 
							<mat-form-field style="width: 100%;">
								<mat-select placeholder="Currency" name="currency" [(ngModel)]="userDetail.currency" [disabled]="disabledMode">
								  <mat-option *ngFor='let currency of currencies' [value]="currency.name">{{currency.name}}</mat-option>
								</mat-select>
							</mat-form-field>
						</div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-inline">
                        <!--<label class="control-label col-sm-2" for="amount">Wallet Amount:</label>
                        <div class="col-sm-10">
                            <input style="width: 80%;" type="text" [disabled]=true [value] = "userDetail.amount" (input) = "userDetail.amount = $event.target.value" class="form-control" id="amount" placeholder="Wallet Amount">
                            <button type="submit" [disabled]="disabledMode" class="form-control btn btn-default">Add Money</button>
                        </div>-->
						
						<div class="col-sm-12">
							<mat-form-field style="width: 80%;">
								<input matInput placeholder="Wallet Amount" type="text" [disabled]=true [(ngModel)] = "userDetail.amount" name="wallet">
							</mat-form-field>
							<button mat-button [disabled]="disabledMode" (click)="addMoney($event)">Add Money</button>
						</div>
                    </div>
                </div>
            </form>
            <!--<button [hidden]="!disabledMode" style="width: 100%" class="btn btn-default" (click)="onAccDetailEdit($event)">
                <span class="glyphicon glyphicon-pencil"></span> Edit
            </button>
            <button [hidden]="disabledMode" style="width: 100%" class="btn btn-default" (click)="onAccDetailSave($event)">
                <span class="glyphicon glyphicon-floppy-disk"></span> Save
            </button>-->
     </div>
</div>
<div class="footerStyle">
		<div class="row" style="padding: 10px;">
					<div class="col-sm-6">						   
						   <button [hidden]="disabledMode" type="submit" class="btn btn-default" style="width:100%;" (click)="onEditCancel($event)">
							   <span class="glyphicon glyphicon-remove"></span> Cancel
						   </button>
					</div>
					<div class="col-sm-6" style="display:flex; justify-content:flex-end;">						
						  <button [hidden]="disabledMode" type="submit" class="btn btn-default" style="width:100%;" (click)="onAccDetailSave($event)">
							   <span class="glyphicon glyphicon-floppy-disk"></span> Save
						  </button>
						  						
						  <button [hidden]="!disabledMode" type="submit" class="btn btn-default" style="width:100%;" (click)="onAccDetailEdit($event)">
							   <span class="glyphicon glyphicon-pencil"></span> Edit
						  </button>
					 </div>
	   </div>
</div>



<app-dialog [(visible)]="showPasswordInfoDialog">
	<div style="padding: 40px;">
		<p>Password should be atleast 8 characters long and should contain atleast one number,one character and one special character(among - @$!%*#?&)</p>
	</div>
<app-dialog>