<div [hidden]="hidden.view" class="container">
        <div class="padding">
            <table>
                   <thead>
                       <th>Address</th>
                       <th>Pin Code</th>
                       <th>Country</th>
                       <th>State</th>
                       <th>City</th>
                       <th>Locality</th>
                       <th>Map Point</th>
                       <th>Default</th>
                   </thead>
                   <tr *ngFor="let address of addresses">
                       <td><button class="btn btn-link" (click)="onAddressClick($event,address)">{{address.address}}</button></td>
                       <td>{{address.pin_code}}</td>
                       <td>{{address.country}}</td>
                       <td>{{address.state}}</td>
                       <td>{{address.city}}</td>
                       <td>{{address.locality}}</td>
                       <td>{{address.map_point}}</td>
                       <td><input type="checkbox" [disabled]="true"  name="default" [(ngModel)]="address.default_flag"></td>
                   </tr>
            </table>
            <!--<button style="width: 100%" class="btn btn-default" (click)="onAddressAdd($event)">
              <span class="glyphicon glyphicon-plus"></span> Add
            </button> --> 
        </div>
</div>

 

 

 

<div [hidden]="hidden.add" class="container">
		<div class="padding">
			  <form class="form-horizontal" id="address_form">
				<div class="form-group">
					  <!--<label class="control-label col-sm-2" for="address">Address:</label>
					  <div class="col-sm-10">
						<input type="text" class="form-control" id="address" [(ngModel)]="item.address" placeholder="Enter Full Address" name="address" [disabled]="disabled.field" required>
					  </div>-->
					  
					  <div class="col-sm-12">
							<mat-form-field style="width: 100%;">
								<input matInput placeholder="Address" [(ngModel)] = "item.address" name="address" [disabled]="disabled.field" required>
							</mat-form-field>
						</div>
				</div>
				<div class="form-group">
					  <!--<label class="control-label col-sm-2" for="pin_code">Pin Code:</label>
					  <div class="col-sm-10">         
						<input type="number" class="form-control" id="pin_code" [(ngModel)]="item.pin_code" placeholder="Enter Area Pin Code" name="pin_code" [disabled]="disabled.field">
					  </div>-->
					  
					  <div class="col-sm-12">
							<mat-form-field style="width: 100%;">
								<input matInput placeholder="Pin Code" [(ngModel)] = "item.pin_code" name="pin_code" [disabled]="disabled.field">
							</mat-form-field>
						</div>
				</div>
				<div class="form-group">
					<!--<label class="control-label col-sm-2" for="country">Country:</label>
					<div class="col-sm-10">
						 <select class="form-control" id="country" [(ngModel)]="item.country" name="country" [disabled]="disabled.field" (change)="locate($event)">
							  <option *ngFor="let country of countries" [value]="country.name">{{country.name}}</option>
						 </select>
					</div>-->
					
					<div class="col-sm-12"> 
						<mat-form-field style="width: 100%;">
							<mat-select placeholder="Country" name="country" [(ngModel)]="item.country" [disabled]="disabled.field" (change)="locate($event)" >
								  <mat-option *ngFor="let country of countries" [value]="country.name">{{country.name}}</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
				<div class="form-group">
					<!--<label class="control-label col-sm-2" for="state">State:</label>
					<div class="col-sm-10">
						<select class="form-control" id="state" [(ngModel)]="item.state" name="state" [disabled]="disabled.field" (change)="locate($event)">
							  <option *ngFor="let state of states" [value]="state.name">{{state.name}}</option>
						</select>
					</div>-->
					
					<div class="col-sm-12"> 
						<mat-form-field style="width: 100%;">
							<mat-select placeholder="State" name="state" [(ngModel)]="item.state" [disabled]="disabled.field" (change)="locate($event)" >
								  <mat-option *ngFor="let state of states" [value]="state.name">{{state.name}}</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
				<div class="form-group">
					 <!--<label class="control-label col-sm-2" for="city">City:</label>
					 <div class="col-sm-10">
						  <select class="form-control" id="city" [(ngModel)]="item.city" name="city" [disabled]="disabled.field" (change)="locate($event)">
								<option *ngFor="let city of cities" [value]="city.name">{{city.name}}</option>
						  </select>
					 </div>-->
					 
					 <div class="col-sm-12"> 
						<mat-form-field style="width: 100%;">
							<mat-select placeholder="City" name="city" [(ngModel)]="item.city" [disabled]="disabled.field" (change)="locate($event)" >
								  <mat-option *ngFor="let city of cities" [value]="city.name">{{city.name}}</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
				<div class="form-group">
				   <!--<label class="control-label col-sm-2" for="locality">Locality:</label>
				   <div class="col-sm-10">
					  <select class="form-control" id="locality" [(ngModel)]="item.locality" name="locality" [disabled]="disabled.field" (change)="locate($event)">
						   <option *ngFor="let locality of localities" [value]="locality.name">{{locality.name}}</option>
					  </select>
				   </div>-->
				   
				   <div class="col-sm-12"> 
						<mat-form-field style="width: 100%;">
							<mat-select placeholder="Locality" name="locality" [(ngModel)]="item.locality" [disabled]="disabled.field" (change)="locate($event)" >
								  <mat-option *ngFor="let locality of localities" [value]="locality.name">{{locality.name}}</mat-option>
							</mat-select>
						</mat-form-field>
					</div>
				</div>
				<div class="form-group"> 
				  <!--<label class="control-label col-sm-2" for="map_point"></label>-->
				  <div class="col-sm-12">
						<div id="googleMap_address" style="width:100%;height:300px;"></div>
						<!--<div style="position: relative;">
						  <div class="gMapSearchStyle">
							  <input id="searchBox" style="border: transparent; outline: none;" placeholder="Search Google Map">
							  <span class="glyphicon glyphicon-search"></span>
						  </div>
						  <div id="googleMap" style="width:100%;height:300px;"></div>
						  <div id="googleMapOverlay" [hidden]="!disabled.field" ></div>
						</div>-->
				  </div>
				</div>
				<div class="form-group">       
					<!--<label class="control-label col-sm-2" for="default">Default:</label>
					<div class="col-sm-10">
						<input type="checkbox" style="width:50px" [disabled]="disabled.field"  id="default" [(ngModel)]="item.default_flag" name="default">
					</div>-->
					<div class="col-sm-12">
						<mat-checkbox style="width:100%;" [disabled]="disabled.field" [(ngModel)]="item.default_flag" name="default" >Default</mat-checkbox>
					</div>
				</div>
				<!--<div class="form-group">       
				  <div class="col-sm-offset-2 col-sm-10">
					<button type="submit" style="width: 100%" class="btn btn-default" (click)="onAddressSaveCancel($event)">
						 <span class="glyphicon glyphicon-remove"></span> Cancel
					</button>
					<button type="submit" style="width: 100%" class="btn btn-default" [hidden]="disabled.field" (click)="onAddressSave($event)">
						 <span class="glyphicon glyphicon-floppy-disk"></span> Save
					</button>
				  </div>
				</div>-->
			  </form>
		</div>
</div>

<div class="footerStyle">
		<div class="row" style="padding: 10px;">
					<div class="col-sm-6">
						   <button type="submit" class="btn btn-default" style="width:100%;" (click)="onAddressSaveCancel($event)" [hidden]="hidden.add">
							   <span class="glyphicon glyphicon-remove"></span> Cancel
						   </button>
						   
					</div>
					<div class="col-sm-6" style="display:flex; justify-content:flex-end;">						
						  <button type="submit" class="btn btn-default" style="width:100%;" (click)="onAddressSave($event)" [hidden]="hidden.add || disabled.field">
							   <span class="glyphicon glyphicon-floppy-disk"></span> Save
						  </button>
						  					
						 
						  <button type="submit" style="width: 100%" class="btn btn-default" (click)="onAddressAdd($event)" [hidden]="hidden.view">
							  <span class="glyphicon glyphicon-plus"></span> Add
							</button>
						
					 </div>
		</div>
</div>