<div [hidden]="detail" class="container" style="padding-right: 0px; padding-left: 0px;">			
			<b style="line-height: 50px; margin-left: 15px;">Request created by you:</b>
			<div class="container-fluid">
			  <div class="row">
				<div class="col-sm-12 col-md-6 col-lg-4" >
					<div class="createNewDiv" >
						<div class="createNewInnerDiv" (click)="createNew($event)">
							<div class="createNewIcon">&#10011;</div>
						</div>
					</div>
				</div>
				
				
				<div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let result of results">
					<tile-template [item]="result" [parentComponent]="self" (openItem)="openItem($event)"></tile-template>
					<!--<div style="width: 380px; height: 310px;">
					 <div class="resultItemWrapper" style="cursor:pointer;" (click)="openItem($event,result)">
						<div class="resultItem">
							<div style="display: flex; justify-content: space-between; position: absolute; top: 20px; left: 5%; width: 90%;">
                                <div class="resultItemType">Buy</div>
                                
                             </div>							  
							 <img class="resultItemImage" src="{{result.data}}">
							 <div class="resultItemDetailTop">
								 <div>
									 <b style="font-size: 18px;" >{{result.model}} {{result.variant}}</b>
									 <span style="font-size: 12px;">{{result.fuel_type}}</span>
								 </div>
								 <b style="color: red;">{{result.price}} {{result.currency}}</b>
							 </div>
							 <div class="resultItemDetailBottom">
								   <div><span style="color:red;" class="glyphicon glyphicon-map-marker"></span> {{result.city}}</div>
								   <div><span style="color:red; margin-left: 10px;" class="glyphicon glyphicon-time"></span> {{result.year_of_reg}}</div>
								   <div><span style="color:red; margin-left: 10px;" class="glyphicon glyphicon-dashboard"></span> {{result.km_done}} KM</div>
								   <div><span style="color:red; margin-left: 10px;" class="glyphicon glyphicon-camera"></span> {{result.number_of_image}}</div>
							 </div>
						  </div>
						</div>
					 </div>-->
				</div>
			  </div>
			</div>   
</div>



<div [hidden]="!detail" >
			<div class="container-fluid">
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-6" >
						<image-template [item]="item" [parentComponent]="self" [editMode]="editMode" ></image-template>
					</div>
					<div class="col-sm-12 col-md-6 col-lg-6">
						<dynamic-form [item]="item" [parentComponent]="self" [editMode]="editMode"></dynamic-form>
					</div>
				</div>
				<div style="height: 100px"></div>
			</div>
			<div class="footerStyle">
			   <div class="row" style="padding: 10px;">
					<div class="col-sm-6">
						   <button type="submit" class="btn btn-default" style="width:100%;" *ngIf="(screenMode.add) || (!(screenMode.add) && !(screenMode.edit))" (click)="onBuyCancel($event)">
							   <span class="glyphicon glyphicon-remove"></span> Cancel
						   </button>
						   
						   <button type="submit" class="btn btn-default" style="width:100%;" *ngIf="(screenMode.edit)" (click)="onEditCancel($event)">
							   <span class="glyphicon glyphicon-remove"></span> Cancel
						   </button>
					</div>
					<div class="col-sm-6" style="display:flex; justify-content:flex-end;">						
						  <button type="submit" class="btn btn-default" style="width:100%;" *ngIf="(screenMode.add) || (screenMode.edit)" (click)="onBuySave($event)">
							   <span class="glyphicon glyphicon-floppy-disk"></span> Save
						  </button>
						  						
						  <button type="submit" class="btn btn-default" style="width:100%;" *ngIf="!(screenMode.add) && !(screenMode.edit) && (item.user_id === userDetail.user_id)" (click)="onEdit($event)">
							   <span class="glyphicon glyphicon-pencil"></span> Edit
						  </button>
						  
						  <button type="submit" class="btn btn-default" style="width:100%;" *ngIf="(screenMode.edit)" (click)="onDeactivate($event)">
							   <span class="glyphicon glyphicon-ban-circle"></span> Deactivate
						  </button>
						
					 </div>
			   </div>
		   </div>
</div>

<!--<app-dialog [(visible)]="showApplicationListDialog">
	<div style="padding: 40px;">
		<div class="appListHeader">Select an application</div>
		<div>
		<div class="appListItem" *ngFor="let app of applications" (click)="onAppSelect($event,app)">{{app.app_name}}</div>
		</div>
	</div>
<app-dialog>
 -->
<app-dialog [(visible)]="showListDialog">
	<div [hidden]="!showProductTypeListDialog" style="padding: 40px;">
		<div class="listHeader">Select a product type</div>
		<div>
		<div class="listItem" *ngFor="let prdTyp of productTypes" (click)="onPrdTypSelect($event,prdTyp)" [hidden]="prdTyp.product_type_name === 'Service'">{{prdTyp.product_type_name}}</div>
		</div>
	</div>
	
	
	
	<div [hidden]="!showBrandListDialog" style="padding: 40px;">
		<div class="listHeader">Select a brand</div>
		<div>
		<div class="listItem" *ngFor="let brand of brands" (click)="onBrandSelect($event,brand)">{{brand}}</div>
		</div>
	</div>
	
	
	<div [hidden]="!showProductListDialog" style="padding: 40px;">
		<div class="listHeader">Select a product</div>
		<div>
		<div class="listItem" *ngFor="let prd of products" (click)="onPrdSelect($event,prd)">{{prd.brand_name}} {{prd.model}} {{prd.variant}}</div>
		</div>
	</div>
	
	<div [hidden]="!showProductColorDialog" style="padding: 40px;">
		<div class="listHeader">Select a colour</div>
		<div>
		<div class="listItem" *ngFor="let clr of colors" (click)="onPrdColorSelect($event,clr)">{{clr}}</div>
		</div>
	</div>
<app-dialog>