<div class="container" style="padding-right: 0px; padding-left: 0px;">			
			<b style="line-height: 50px; margin-left: 15px;">My Favourites:</b>
			<div class="container-fluid">
			  <div class="row">
				<div class="col-sm-12 col-md-6 col-lg-4" *ngFor="let result of results">
					<tile-template [item]="result" [parentComponent]="self" (openItem)="onItemSelect($event)"></tile-template>
					<!--<div style="width: 350px; height: 310px; position: relative;">
						<div style="display: flex; justify-content: space-between; position: absolute; top: 20px; left: 5%; width: 90%;">
                                <div class="resultItemType">{{result.type}}</div>
                                <span [hidden]="!true" class="fav-icon" id="fav" (click)="onUnFavourite($event,result)">&#9733;</span>
								
                        </div>		
						<div class="resultItemWrapper" style="cursor:pointer;" (click)="onItemSelect($event,result)">
						  <div class="resultItem">													  
							 <img class="resultItemImage" src="{{result.data}}">
							 <div class="resultItemDetailTop">
								 <div>
									 <b style="font-size: 18px;" >{{result.model}} {{result.variant}}</b>
									 <span style="font-size: 12px;">{{result.fuel_type}}</span>
								 </div>
								 <b *ngIf="result.type !== 'Bid'" style="color: red;">{{result.net_price}} {{result.currency}}</b>
								 <b *ngIf="result.type === 'Bid'" style="color: red;">{{result.current_bid_amount}} {{result.currency}}</b>
							 </div>
							 <div class="resultItemDetailBottom">
								   <div><span style="color:red;" class="glyphicon glyphicon-map-marker"></span> {{result.city}}</div>
								   <div><span style="color:red; margin-left: 10px;" class="glyphicon glyphicon-time"></span> {{result.year_of_reg}}</div>
								   <div><span style="color:red; margin-left: 10px;" class="glyphicon glyphicon-dashboard"></span> {{result.km_done}} KM</div>
								   <div><span style="color:red; margin-left: 10px;" class="glyphicon glyphicon-camera"></span> {{result.no_image}}</div>
							 </div>
						  </div>
						</div>
					 </div>-->
				</div>
			  </div>
			</div>   
</div>



<!--
<app-dialog [(visible)]="showConfirmDialog">
	<div class="listHeader">Confirmation!</div>
	<b>Are you sure you want to remove the item from your favourite list?</b>
	<div style="display:flex; width:100%;">
		<button style="width:50%;" class="btn btn-default" (click)="onUnFavYes()">Yes</button>
		<button style="width:50%;" class="btn btn-default" (click)="onUnFavNo()">No</button>
	</div>
</app-dialog>-->