.page_title{
	text-align: center;
    font-size: x-large;
    margin-top: 1rem;
}
.detail_form{
    width: 90%;
    height: 90%;
    margin: auto;
    background-color:#f9f9f9;
    -webkit-box-shadow: 3px 3px 5px 6px #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
	-moz-box-shadow:    3px 3px 5px 6px #ccc;  /* Firefox 3.5 - 3.6 */
	box-shadow:         3px 3px 5px 6px #ccc;
    color: #565454;
}
.padding{
    padding: 30px;
}

.resultItem{
	line-height: 30px; width: 320px; padding: 13px;
}
.resultItemWrapper{
	border: 1px solid gray; width: 350px;  position: relative;
}
.resultItemWrapper:active{
	border: 4px solid #ccd8ff;
}
.resultItemType{
	font-size: 12px; font-weight: bolder; color: white; background-color: red;  border-radius: 20px; width: 60px; line-height: 30px; text-align: center;
}
.resultItemImage{
	width: 320px; height: 200px;
}
.resultItemDetailTop{
	display: flex; flex-direction: row; width: 320px; justify-content: space-between;
}
.resultItemDetailBottom{
	display: flex; flex-direction: row; width: 320px; font-size: 12px;
}





.autocomplete-items {
  position: absolute;
  border: 1px solid #f4f5f7;
  border-bottom: 1px solid #f4f5f7;
  border-top: none;
  left: 3px;
  right: 3px;
  z-index: 1;
}

.autocomplete-items div {
  padding: 8px;
  cursor: pointer;
  background-color: #fff;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}

.autocomplete-selected{
	background-color: #e9e9e9 !important;
}

.city-selected{
	background-color: #e9e9e9 !important;
}
