<div [hidden]="hidden.view" class="container">
        <div class="padding">
            <table>
                   <thead>
					   <th></th>
                       <th>Application</th>
                       <th>Subscription</th>
                       <th>Valid From</th>
                       <th>Valid To</th>
                       <th>Amount Paid</th>
                       <th>Remaining Posts</th>
                       <th>Posts Life in days</th>
                       <th>Posts Priority</th>
                       <th>Notification via SMS</th>
                       <th>Notification via Email</th>
                       <th>Notification via App</th>
                   </thead>
                   <tr *ngFor="let subscription of subscriptions">
						<td><i class="glyphicon glyphicon-ok" style="width: 30px;" [hidden]="subscription.active !== 'X'"></i></td>
                       <td><div style="padding: 1rem;">{{subscription.app_name}}</div></td>
                       <td>{{subscription.subscription_name}}</td>
                       <td>{{subscription.valid_from}}</td>
                       <td>{{subscription.valid_to}}</td>
                       <td>{{subscription.amt_paid}}</td>
                       <td>{{subscription.remain_post}}</td>
                       <td>{{subscription.post_day}}</td>
                       <td>{{subscription.post_priority}}</td>
                       <td>{{subscription.notification_sms}}</td>
                       <td>{{subscription.notification_email}}</td>
                       <td>{{subscription.notification_app}}</td>
                   </tr>
            </table>
            <button style="width: 100%;" class="btn btn-default" (click)="onBuySub($event)">
              <span class="glyphicon glyphicon-shopping-cart"></span> Buy Subscription
            </button>  
    </div>
</div>

 <div [hidden]="hidden.buy">
	<buy-subscription [buyItem]="buyItem" [parentComponent]="self"></buy-subscription>
 </div>
 
<app-dialog [(visible)]="showApplicationListDialog">
	<div style="padding: 40px;">
		<div class="appListHeader">Select an application</div>
		<div>
		<div class="appListItem" *ngFor="let app of applications" (click)="onAppSelect($event,app)">{{app.app_name}}</div>
		</div>
	</div>
<app-dialog>
 
 
 
 
