<!--<div class="container">
    <div class="center_form">
        <div class="padding">
            <h3>Sign In</h3>     
                                  
            <div class="form-group">
				<div class="form-inline">
					<div style="width:45px" class="form-control">+91 </div>
					<input style="width:248px"  type="text" maxlength="10" class="form-control" [value] = "login_mobile" (input) = "login_mobile = $event.target.value" placeholder=" Enter Mobile Number" required="" (keyup)="onMobileEnter($event)"/>
				</div>
			</div>
			<div class="form-group">
				<form action="">
					<div class="form-inline">
					<label style="width:10rem;"><input type="radio" [value]=true [(ngModel)]="loginByPassword"  name="loginType" >Password</label>
					<label style="width:10rem;"><input type="radio" [value]=false [(ngModel)]="loginByPassword"  name="loginType" >OTP</label>
					</div>
				</form>
			</div>
            <div class="form-group">
				<input type="text" class="form-control" [hidden]="loginByPassword" [value] = "login_otp" (input) = "login_otp = $event.target.value"  placeholder="Enter OTP" required="" (keypress)="onkeypress($event)"/>
				<button (click)="onSendOTP()" [hidden]="loginByPassword" class="btn btn-link">{{sendOTP}}</button>
                <input type="password" class="form-control" [hidden]="!loginByPassword" [value] = "login_password" (input) = "login_password = $event.target.value"  placeholder="Enter Password" required="" (keypress)="onkeypress($event)"/>
            </div>
			<div class="form-group">
			<label *ngIf="loginError" style="color: #c41b34;">{{loginError}}</label>
			</div>
            <div class="form-group">
                <button type="submit" (click)="onLogin()" class="btn btn-success">Login</button>
				<button (click)="onSignup()" class="btn btn-link">Sign Up</button>
            </div>
			<div class="form-group">
				<button  class="btn btn-link">Forgot Password?</button>
            </div>
        </div>
    </div>
</div>-->









<div style="display:flex; flex-direction:column; justify-content:center; height:100%;">
	<div style="width: 100%; max-width: 400px; max-height: 420px; box-shadow: 0px 0px 1px 0px grey; margin-left:auto; margin-right:auto;">
        <div style="width:100%; height:100px; background-color:#c41b34;">
               <div style='padding: 30px; color: white; font-family: Roboto,"Helvetica Neue",sans-serif; font-size: 18px; font-weight: bold; display: flex; justify-content: space-between;'>
                    <div>Log In</div>
                    <span style="font-size:40px;" class="glyphicon glyphicon-off"></span>
               </div>
        </div>
		<div style="width:100%; max-width: 350px; min-height: 280px; padding: 25px; display: flex; align-items: center; justify-content: center; margin-left:auto; margin-right:auto;">
          <form style="max-width: 300px;" class="login-form" autocomplete="off">
               <mat-form-field class="mobile-field" style="width:100%;">
                    <span matPrefix>+91 &nbsp;</span>
                    <input type="tel" matInput placeholder="Enter Mobile Number*" maxlength="10" [(ngModel)]="login_mobile" name="mobile" (keyup)="onMobileEnter($event)">
               </mat-form-field>
                                                
               <mat-form-field style="width:100%;">
                    <mat-select placeholder="Sign In by" [(ngModel)]="loginByPassword" name="login-by">
                        <mat-option [value]=true>Password</mat-option>
                        <mat-option [value]=false>OTP</mat-option>
                    </mat-select>
               </mat-form-field>

              <mat-form-field class="password-field" style="width:100%;" [hidden]="!loginByPassword">
                   <input type="password" matInput placeholder="Enter Password*" [(ngModel)]="login_password" name="password" (keypress)="onkeypress($event)">
              </mat-form-field>
              <mat-form-field class="otp-field" style="width:100%;" [hidden]="loginByPassword">
                  <div style="display:flex;">
                      <input type="password" matInput placeholder="Enter OTP*" [(ngModel)]="login_otp" name="otp" (keypress)="onkeypress($event)">
                      <button (click)="onSendOTP()" class="btn btn-link">{{sendOTP}}</button>
                  </div>
              </mat-form-field>
                               
              <div>
                 <button style="width: 100%; background-color:#c41b34; color:white;" mat-raised-button (click)="onLogin()">Sign In</button>
				 <label *ngIf="loginError" style="color: red;">{{loginError}}</label>
              </div>
              <div style="line-height: 35px; display: flex; justify-content: space-between;">
                 <button (click)="onSignup()" class="btn btn-link">Sign Up!</button>
                 <button class="btn btn-link">Forgot Password?</button>
             </div>
         </form>
       </div>
	 </div>
</div>