<div class="container">
    <div class="center_form">
        <div class="padding">
            <h3>User Detail</h3>     
            <div class="detail_form">
			<div class="padding">
				<form class="form-horizontal">
					<div class="form-group">
						<div class="form-inline">
							<label class="control-label col-sm-2" for="full_name">Name:</label>
							<div class="col-sm-10">
								<input style="width: 100%;" [value] = "name" (input) = "name = $event.target.value" type="text" class="form-control" id="full_name" placeholder="Enter Full Name">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-inline">
							<label class="control-label col-sm-2" for="email">Email ID:</label>
							<div class="col-sm-10">
								<input style="width: 100%;" [value] = "email" (input) = "email = $event.target.value" type="email" class="form-control" id="email" placeholder="Enter email">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-inline">
							<label class="control-label col-sm-2" for="gender">Gender:</label>                                                         
							<div class="col-sm-10">
								<div class="radio">
									<div style="width: 10rem; justify-content: space-around;" class="form-inline">
										<label style="justify-content: flex-start;" ><input type="radio" [value]=true [(ngModel)]="male" name="gender">Male</label>
										<label style="justify-content: flex-start;" ><input type="radio" [value]=false [(ngModel)]="male" name="gender">Female</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-inline">
							<label class="control-label col-sm-2" for="mobile">Currency:</label>
							<div class="col-sm-10">                                                                                                
								<select style="width: 100%;" class="form-control" id="currency" [(ngModel)]="selectedCurrency">
									<option value="INR">INR</option>                                                                                                                
								</select>                                                                                         
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-inline">
							<label class="control-label col-sm-2" for="gender">Login Type:</label>                                                         
							<div class="col-sm-10">
								<div class="radio">
									<div style="width: 10rem; justify-content: space-around;" class="form-inline">
										<label style="justify-content: flex-start;" ><input type="radio" [value]=true [(ngModel)]="loginByPassword" name="loginTyp">Password</label>
										<label style="justify-content: flex-start;" ><input type="radio" [value]=false [(ngModel)]="loginByPassword" name="loginTyp">OTP</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-inline">
							<label class="control-label col-sm-2" for="amt">Wallet Amount:</label>
							<div class="col-sm-10">
								<input style="width: 80%;" [value] = "amount" (input) = "amount = $event.target.value" type="number" class="form-control" id="amt" placeholder="Wallet Amount">
								<button type="submit" class="form-control btn btn-default">Add Money</button>
							</div>
						</div>
					</div>
				</form>
				
			</div>
		</div>			
            <div class="form-group">
                <button type="submit" (click)="onUpdate()" class="btn btn-success">Update</button>
				<button type="submit" (click)="onUpdateCancel()" class="btn btn-danger">Cancel</button>
            </div>
        </div>
    </div>
</div>