<!--<div [hidden]="hidden.signup" class="container">
    <div class="center_form">
        <div class="padding">
            <h3>Sign Up</h3>     
                                  
            <div class="form-group">
                <input type="text" class="form-control" maxlength="10" [value] = "login_mobile" (input) = "login_mobile = $event.target.value" placeholder=" Enter Mobile Number" required="" (keypress)="onKeypress($event)"/>
				<button (click)="onSendOTP()" class="btn btn-link">{{sendOTP}}</button>
			</div>				
			<div class="form-group">
                <input type="password" class="form-control" [value]="login_otp" (input) = "login_otp = $event.target.value" placeholder="Enter OTP" required="" (keypress)="onKeypress($event)"/>
            </div>	
            <div class="form-group">
                <input type="password" class="form-control"  [value] = "login_password" (input) = "login_password = $event.target.value" placeholder="Set Password" required="" (keypress)="onKeypress($event)"/>
            </div>			
            <div class="form-group">
                <button type="submit" (click)="onSubmit()" class="btn btn-success form-control">Submit</button>
				<label *ngIf="loginError" style="color: #c41b34;">{{loginError}}</label>
            </div>
			<div class="form-group">
				<button (click)="gotoSignIn()" class="btn btn-link">Already Signed Up? Sign In.</button>
            </div>
			
        </div>
    </div>
</div>-->

<div [hidden]="hidden.signup" style="height:100%; width:100%;">
<div style="display:flex; flex-direction:column; justify-content:center; height:100%;">
     <div style="width: 100%; max-width: 400px; max-height: 500px; box-shadow: 0px 0px 1px 0px grey; margin-left:auto; margin-right:auto;">
          <div style="width:100%; height:100px; background-color:#c41b34;">
               <div style='padding: 30px; color: white; font-family: Roboto,"Helvetica Neue",sans-serif; font-size: 18px; font-weight: bold; display: flex; justify-content: space-between;'>
                    <div>Sign Up</div>
                    <span style="font-size:40px;" class="glyphicon glyphicon-pencil"></span>
               </div>
          </div>
          <div style="width:100%; max-width: 350px; min-height: 280px; padding: 20px; display: flex; align-items: center; justify-content: center; margin-left:auto; margin-right:auto;">
               <form style="max-width: 350px;" class="login-form" autocomplete="off">
                     <mat-form-field class="mobile-field" style="width:100%;">
                          <span matPrefix>+91 &nbsp;</span>
                          <input type="tel" matInput placeholder="Enter Mobile Number*" maxlength="10" [(ngModel)]="login_mobile" name="login_mobile" (keypress)="onMobileEnter($event)">
                     </mat-form-field>
                                     
                     <mat-form-field class="otp-field" style="width:100%;" >
                          <div style="display:flex;">
                              <input type="password" matInput placeholder="Enter OTP*" [(ngModel)]="login_otp" name="login_otp" (keypress)="onKeypress($event)">
                              <button (click)="onSendOTP()" class="btn btn-link">{{sendOTP}}</button>
                          </div>
                    </mat-form-field>
                                                               
                     <mat-form-field class="password-field" style="width:100%;" >
                          <input type="password" matInput placeholder="Enter Password*" [(ngModel)]="login_password" name="login_password" (keypress)="onKeypress($event)">
                     </mat-form-field>
                                                              
                                                
                    <div style="display:flex; justify-content:space-between;">
                        <button style="width: 100%; background-color:#c41b34; color:white;" mat-raised-button (click)="onSubmit()">Submit</button>
                        
                    </div>
                    <div style="line-height:35px; display:flex; justify-content:flex-end;">
                         <button (click)="gotoSignIn()" class="btn btn-link">Already Signed Up? Sign In.</button>
                    </div>
					<div><label *ngIf="loginError" style="color: red;">{{loginError}}</label></div>
              </form>
        </div>
   </div>
</div>
</div>


<!-- -->
<div [hidden]="hidden.profile" class="container">   
            <h3 class="page_title">User Detail</h3>     
			<div class="padding">
				<form class="form-horizontal" autocomplete="off">
					<div class="form-group">
						<div class="form-inline">
							<label class="control-label col-sm-2" for="full_name">Name:</label>
							<div class="col-sm-10">
								<input style="width: 100%;" [value] = "newUser.name" (input) = "newUser.name = $event.target.value" type="text" class="form-control" id="full_name" placeholder="Enter Full Name">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-inline">
							<label class="control-label col-sm-2" for="email">Email ID:</label>
							<div class="col-sm-10">
								<input style="width: 100%;" [value] = "newUser.email" (input) = "newUser.email = $event.target.value" type="email" class="form-control" id="email" placeholder="Enter email" (focusout)="onEmailEnter($event)">
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-inline">
							<label class="control-label col-sm-2" for="gender">Gender:</label>                                                         
							<div class="col-sm-10">
								<div class="radio">
									<div style="width: 15rem; display: flex; justify-content: space-between;" class="form-inline">
										<label style="justify-content: flex-start;" ><input type="radio" [value]=true [(ngModel)]="male" name="gender"> Male</label>
										<label style="justify-content: flex-start;" ><input type="radio" [value]=false [(ngModel)]="male" name="gender"> Female</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="form-inline">
							<label class="control-label col-sm-2" for="mobile">Currency:</label>
							<div class="col-sm-10">                                                                                                
								<select style="width: 100%;" class="form-control" name="currency" id="currency" [(ngModel)]="newUser.currency">
									<option value="INR">INR</option>                                                                                                                
								</select>                                                                                         
							</div>
						</div>
					</div>
					<!--<div class="form-group">
						<div class="form-inline">
							<label class="control-label col-sm-2" for="gender">Login Type:</label>                                                         
							<div class="col-sm-10">
								<div class="radio">
									<div style="width: 15rem; display: flex; justify-content: space-between;" class="form-inline">
										<label style="justify-content: flex-start;" ><input type="radio" [value]=true [(ngModel)]="loginByPassword" name="loginTyp"> Password</label>
										<label style="justify-content: flex-start;" ><input type="radio" [value]=false [(ngModel)]="loginByPassword" name="loginTyp"> OTP</label>
									</div>
								</div>
							</div>
						</div>
					</div>-->
					<div class="form-group">
						<div class="form-inline">
							<label class="control-label col-sm-2" for="amt">Wallet Amount:</label>
							<div class="col-sm-10">
								<input style="width: 80%;" [disabled]=true [value] = "newUser.amount" (input) = "newUser.amount = $event.target.value" type="number" class="form-control" id="amt" placeholder="Wallet Amount">
								<button type="submit" class="form-control btn btn-default">Add Money</button>
							</div>
						</div>
					</div>
				</form>
				<div class="form-group">
					<button type="submit" (click)="onUpdate()" class="btn btn-default">Update</button>
					<button type="submit" (click)="onUpdateCancel()" class="btn btn-default">Cancel</button>
				</div>
			</div>       
</div>