.container {
    margin-top: 4rem !important;
}


.center_form{
                  width: 60%;
                  height: 39rem;
                  max-width: 40rem;
                  margin: auto;
                  position: absolute;
                  top: 0; left: 0; bottom: 0; right: 0;
                  background-color: #EBEBEB;
				  border:solid;
                  border-width:1px;
                  border-radius:5px;
                  border-color:rgb(28, 104, 137);   
                  color:#957F7F;
}
.padding{
                padding: 30px;
}

.page_title{
	text-align: center;
    font-size: x-large;
    margin-top: 1rem;
}

.detail_form{
        margin: auto;
        color: #565454;
}